<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @child.last_name %>
</p>

<p>
  <strong>Nick Name:</strong>
  <%= @child.nick_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @child.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @child.age %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @child.birthday %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
