<h1>ようこそ！</h1>
<p>作品一覧</p>
<table>
  <thead>
    <tr>
      <th>ニックネーム</th>
      <th>作品タイトル</th>
      <th>画像1</th>
      <th>画像2</th>
      <th>画像3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.child.nick_name, product.child %></td>
        <td><%= link_to product.title, product %></td>
        <td>
          <% if product.image1_link? %>
            <div class="thumbnail">
              <%= image_tag product.image1_link ,:size => "200x200" %>
            </div>
          <% end %>
        </td>
        <td>
          <% if product.image2_link? %>
            <div class="thumbnail">
              <%= image_tag product.image2_link ,:size => "200x200" %>
            </div>
          <% end %>
        </td>
        <td>
          <% if product.image3_link? %>
            <div class="thumbnail">
              <%= image_tag product.image3_link ,:size => "200x200" %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
