<p id="notice"><%= notice %></p>

<p>
  <strong>Child:</strong>
  <%= @product.child_id %>
  <%= link_to 'View Child', child_path(@product.child_id) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @product.introduction %>
</p>

<p>
  <strong>Introduction voice link:</strong>
  <%= @product.introduction_voice_link %>
</p>

<p>
  <strong>Image1 link:</strong>
  <% if @product.image1_link? %>
    <div class="thumbnail">
      <%= image_tag @product.image1_link ,:size => "200x200" %>
    </div>
  <% end %>
</p>

<p>
  <strong>Image2 link:</strong>
  <% if @product.image2_link? %>
    <div class="thumbnail">
      <%= image_tag @product.image2_link ,:size => "200x200" %>
    </div>
  <% end %>
</p>

<p>
  <strong>Image3 link:</strong>
  <% if @product.image3_link? %>
    <div class="thumbnail">
      <%= image_tag @product.image3_link ,:size => "200x200" %>
    </div>
  <% end %>
</p>

<p>
  <strong>State:</strong>
  <%= @product.state %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
